body{
    background-color: rgb(252, 252, 252);
    /* display: flexbox;
    justify-content: center;
    align-items: center; */
    text-align: center;
    font-size: 1.2rem;
}
button{
    font-size: 1.2rem;

}
div{
    border: 2px double rgb(0, 0, 0) ;
    /* background-color: rgb(109, 95, 95); */
    width: 50%;
    height: 200px;
    padding: 10px;
    margin: 50px auto;
}